# Laravel related
.phpunit.cache
public/build
public/hot
public/storage
vendor/


# Environment files
.env
.env.backup
.env.production

# System specific
/.idea
/.vscode
/.zed
/.fleet
.DS_Store
Thumbs.db

# Node and Composer dependencies
/node_modules

# PHPUnit
.phpunit.result.cache

# Homestead and Laravel configuration
Homestead.json
Homestead.yaml
auth.json

# Compiled and temporary files
npm-debug.log
yarn-error.log
.phpactor.json
composer.lock
*.log
*.cache
*.temp
*.bak

# Coverage reports
coverage/
*.lcov

# Laravel Mix
/public/mix-manifest.json

# Others
/.env.testing
